# PythonPerformanceTool
/PythonPerformanceTool/.gradle/
/PythonPerformanceTool/.idea/
/PythonPerformanceTool/.svn/
/PythonPerformanceTool/java_pid5600.hprof   
/PythonPerformanceTool/java_pid8156.hprof 
/PythonPerformanceTool/*.hprof 
/PythonPerformanceTool/local.properties
/PythonPerformanceTool/*.iml

#performance
/PythonPerformanceTool/performance/.idea/
/PythonPerformanceTool/performance/build/
/PythonPerformanceTool/performance/dist/

#analyse_resource
/PythonPerformanceTool/performance/analyse_resource/.idea/
/PythonPerformanceTool/performance/analyse_resource/build/
/PythonPerformanceTool/performance/analyse_resource/dist/

